@import '../../styles/shared.scss';

$primary-color-darken: darken($primary-color, 10%);
$text-color-calculated: set-button-text-color($primary-color-darken);

.btn {
	font-family: 'Montserrat';
	font-size: $font-size-pivot;
	font-weight: bold;
	text-decoration: none;
	padding: 0.4rem;
	padding-right: 3rem;
	padding-left: 3rem;
	border-radius: 2rem;
	background-color: transparent;
	border: none;
	transition: 0.3s;

	@media screen and (max-width: 800px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	@media screen and (max-width: 300px) {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&:hover {
		color: $text-color-calculated;
		background-color: $primary-color-darken;
	}

	&.solid {
		background-color: $primary-color;
		color: $text-color-calculated;

		&:hover {
			box-shadow: $main-shadow-box;
		}
	}

	&.outline {
		color: $primary-color;
		border: 0.1rem solid $primary-color;

		&:hover {
			color: $text-color-calculated;
			background-color: $primary-color;
		}
	}
}
