@import './../../styles/shared.scss';

#list-main {
	@include container;
	@include page-vertical-sizes($main-padding-top);
	@include input(0.2rem);

	#tech-list {
		border-radius: 1rem;
		padding: 1rem;
		box-shadow: $main-shadow-box;
		margin-top: 2rem;
		overflow-y: auto;
		h6 {
			margin: 0.5rem;
		}
	}

	#filter-section {
		margin-top: 5px;
		display: flex;

		justify-content: space-evenly;
		align-items: center;
	}

	.row {
		@include table-row(center, 7);
		width: 100%;

		margin-bottom: 10px;

		&.head {
			div {
				font-size: unset;
			}

			margin-bottom: 15px;
			font-weight: bold;
		}

		div {
			font-size: medium;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		img {
			height: 42px;
			max-width: 100px;
		}

		@media all and (max-width: 1099px) {
			width: 50rem;
		}

		@media all and (min-width: 1100px) {
			width: 100%;
		}
	}
}
