$logo-full-color: url('/images/logo_full_color.svg');

$bg-header: url('/images/backgrounds/Bg_Header.png');
$bg-header-2x: url('/images/backgrounds/Bg_Header@2x.png');
$bg-header-3x: url('/images/backgrounds/Bg_Header@3x.png');

$bg-footer: url('/images/backgrounds/Bg_Footer.png');
$bg-footer-2x: url('/images/backgrounds/Bg_Footer@2x.png');
$bg-footer-3x: url('/images/backgrounds/Bg_Footer@3x.png');

$ic-hero: url('/images/hero/Ic_ilustra_Hero.png');
$ic-hero-2: url('/images/hero/Ic_ilustra_Hero@2x.png');
$ic-hero-3: url('/images/hero/Ic_ilustra_Hero@3x.png');
