@import './shared.scss';

@import './fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: lighter $font-size-pivot 'Montserrat';
	color: $text-color;

	@media screen and (min-width: 320px) {
		font-size: calc(#{$font-size-pivot} + 6 * ((100vw - 320px) / 680));
	}
	@media screen and (min-width: 1000px) {
		font-size: 22px;
	}
}

nav {
	list-style: none;
}

.text-center {
	text-align: center;
}

.primary-color {
	color: $primary-color;
}

.accent-color {
	color: $accent-color;
}

.white-color {
	color: #ffffff;
}

.thin {
	font-weight: lighter;
}

.bold {
	font-weight: bold;
}

.bg-white-lilac {
	background-color: $bg-white-lilac;
}
