@import './../../styles/shared.scss';

#home {
	padding-top: $main-padding-top;
	padding-bottom: 5rem;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	@media all and (min-width: 300px) and (max-width: 767px) {
		background-position: unset;
		background-image: $bg-header;
	}

	@media all and (min-width: 768px) {
		background-image: $bg-header-2x;
	}

	@media all and (min-width: 1200px) {
		background-attachment: local;
		background-image: $bg-header-3x;
	}
}

.ic-hero-header {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: scaleX(-1);
	background-blend-mode: overlay;

	background-image: $ic-hero;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	transition: 1s;
	left: -10px;
	opacity: 0;

	animation: 1s slide 0.5s forwards;

	@media all and (min-width: 768px) {
		background-image: $ic-hero-2;
		transform: scaleX(-1);
	}

	@media all and (min-width: 1200px) {
		background-image: $ic-hero-3;
		transform: scaleX(-1);
	}

	@keyframes slide {
		100% {
			left: 0;
			opacity: 1;
		}
	}
}

.collaborators-container {
	min-height: 10rem;
	width: 100%;
	height: 100%;
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	background-color: darken($primary-color, 40%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media all and (max-width: 767px) {
		background-image: $bg-collab;
	}

	@media all and (min-width: 768px) {
		background-image: $bg-collab-2;
	}

	@media all and (min-width: 1200px) {
		background-image: $bg-collab-3;
	}

	#social-media {
		margin-bottom: 1em;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: medium;
		font-weight: normal;

		.logo-twitter {
			margin-right: 0.5rem;
			background-image: $logo-twitter-white;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			height: 30px;
			width: 30px;
		}
	}
}

.hero-message {
	background-color: $bg-white-lilac;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $bg-white-lilac;
}

#benefits {
	padding: 3.5rem;
	padding-left: 5rem;
	padding-right: 5rem;
	h3 {
		margin-bottom: 3rem;
	}

	@media all and (min-width: 300px) and (max-width: 767px) {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	@media all and (min-width: 768px) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.grid-6col {
	text-align: center;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1rem;
	grid-auto-flow: dense;
	max-width: 100%;

	@media all and (max-width: 299px) {
		grid-template-columns: repeat(1, 1fr);
	}

	@media all and (min-width: 300px) and (max-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media all and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media all and (min-width: 1200px) {
		grid-template-columns: repeat(6, 1fr);
	}
}

hr {
	border-radius: 10px;
	border-color: rgba($primary-color, $alpha: 0.1);
	box-shadow: $secondary-shadow-box;
	margin-left: 50px;
	margin-right: 50px;
}

footer {
	position: relative;
	min-height: 22rem;

	background-image: $bg-footer;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	> div > button {
		margin-top: 1.5rem;
	}
}
