@import './../../styles/shared.scss';

.header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 45px 140px 0;
	animation: 3s fadein 0.5s forwards;

	animation-duration: 1s;
	animation-name: fadein;
	animation-fill-mode: forwards;
	opacity: 0;
	color: white;
	overflow-x: hidden;

	transition: all 0.5s ease-in-out;

	.logo {
		background: $logo-full-color;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 7rem;
		height: 2rem;
	}

	&.scrolled {
		padding-top: 0.5rem;
		padding-bottom: 0.2rem;
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
	}

	nav > ul {
		font-size: $font-size-pivot;
		font-weight: bold;
		display: flex;
		margin-right: -15px;
		align-items: center;

		a {
			color: $text-color;

			text-decoration: none;
			&:visited {
				color: $text-color;
			}
		}

		li {
			margin: 0 0.7rem;
		}
	}

	@media screen and (max-width: 800px) {
		padding: 20px 50px;
		flex-direction: column;

		nav > ul {
			li {
				margin: 0 7px;
			}

			margin: 0;
		}
	}

	@media screen and (max-width: 300px) {
		padding: 20px 20px;
		flex-direction: column;

		nav > ul {
			padding: 10px;
			margin-right: 0;
		}
	}
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}
