@import './../../styles/shared.scss';

#sign-up-main {
	@include container;
	@include form;

	padding-top: $main-padding-top - 3rem;
	padding-bottom: $main-padding-top - 6rem;

	display: flex;
	justify-content: center;

	#sign-up-form {
		flex: 0.5;

		@media all and (max-width: 1024px) {
			flex: 1;
		}

		[type='submit'] {
			margin-top: 10px;
		}
	}
}
