@import './../../styles/shared.scss';

#sign-up-main {
	@include container;
	@include form;
	@include page-vertical-sizes($main-padding-top);

	display: flex;
	justify-content: center;

	#sign-up-form {
		flex: 0.5;

		@media all and (max-width: 1024px) {
			flex: 1;
		}

		[type='submit'] {
			margin-top: 10px;
		}
	}
}
